.nc
  height: 100%

  &.is-open
    .nc__inner-top
      &::before
        background-color: rgba(#191919, 0.6)
        content: ''
        left: 0
        height: 100%
        position: absolute
        top: 0
        width: 100%
        z-index: 4

    .nc-c
      @media (min-width: 992px)
        opacity: 0.3

      &.is-open
        @media (min-width: 992px)
          opacity: 1

    .nc-c-list__arrow
      opacity: 0.3
      pointer-events: none

  &__inner
    align-items: center
    background-image: url('../images/bg/config_bg.png')
    background-position: 50% 0
    background-size: cover
    background-repeat: no-repeat
    display: flex
    flex-direction: column
    height: 100%

    &--accessories
      background-image: url('../images/bg/accessories_bg.jpg')

    &--result
      background-image: none

  &__inner-top
    display: none
    flex-grow: 1
    height: calc(100% - 190px)
    max-width: 1920px
    padding-left: 75px
    padding-right: 75px
    width: 100%

    &.is-active
      display: flex

    @media(min-width: 2500px)
      max-width: 3400px

    &--accessories
      padding-left: 0
      padding-right: 0

    &--result
      height: 100%
      padding-left: 0
      padding-right: 0

  &__inner-cell
    overflow-x: hidden
    overflow-y: auto
    width: 50%

    &--accessory_picture
      padding-top: 30px
      padding-right: 75px
      padding-left: 75px

      @media(min-width: 1600px)
        padding-top: 60px

    &--result_picture,
    &--result_info
      padding-top: 60px
      padding-right: 75px
      padding-left: 75px

    &--accessory_info
      font-size: 16px
      height: calc(100% - 30px)
      padding-top: 30px
      padding-right: 75px
      padding-left: 75px

      @media(min-width: 1600px)
        padding-top: 60px

      h1,
      h2,
      h3
        @media (min-width: 1900px)
          font-size: 45px

      p
        margin-bottom: 20px

        &:last-child
          margin-bottom: 0

  &__accessory-picture,
  &__result-picture
    background-position: 50% 50%
    background-repeat: no-repeat
    background-size: contain
    width: 100%

  &__accessory-picture
    height: calc(100% - 30px)
    margin-bottom: 30px

    @media(min-width: 1600px)
      height: calc(100% - 60px)
      margin-bottom: 60px

  &__result-picture
    height: calc(100% - 60px)
    margin-bottom: 60px

  &__picture-block
    display: flex
    flex-direction: column
    justify-content: center
    width: 51.1628%

  &__performance-block
    display: flex
    flex-direction: column
    justify-content: center
    width: 48.8372%

  &__performance-tabs
    border-bottom: 1px solid rgba(#fff,0.1)
    display: flex
    justify-content: space-between
    margin-bottom: 10px

  &__performance-tabs-resolution
    position: relative

  &__performance-tabs-list
    display: flex
    font-family: $secondary-font
    font-size: 13px
    overflow-x: auto
    text-transform: uppercase

    @media(min-height: 900px)
      font-size: 15px

    @media(min-width: 2500px)
      font-size: 18px !important

    &--small
      justify-content: flex-end

  &__performance-tabs-item
    display: flex
    margin-right: 15px

    @media(min-width: 1900px)
      margin-right: 30px

    &:last-child
      margin-right: 0

  &__performance-tabs-link
    align-items: center
    border-bottom: 1px solid transparent
    color: #666
    display: flex
    min-height: 45px
    transition: border-top-color 0.3s, color 0.3s
    text-decoration: none
    white-space: nowrap

    @media(min-height: 900px)
      min-height: 55px

    &.is-active,
    &:hover
      border-bottom-color: $main-color
      color: #fff
      text-decoration: none

  &__performance-bars-tab
    display: none

    &.is-active
      display: block

    .pbar-block.hidden,
    .pbar-block.hidden
      display: none !important

      @media(min-height: 1000px)
        display: flex !important

  &__performance-fps
    color: rgba(#fff, 0.4)
    display: flex
    font-size: 12px
    justify-content: space-between
    margin-bottom: 10px
    padding-left: 52px

    span
      width: 41px

  &__performance-pbars
    position: relative

  &__performance-pbar
    background-color: rgba(#fff, 0.1)
    content: ''
    height: 100%
    margin-left: 26px
    position: absolute
    top: 0
    width: 1px
    z-index: 3

    color: rgba(#fff, 0.4)
    font-size: 12px
    white-space: nowrap

    span
      top: -26px
      position: absolute
      left: 50%
      transform: translateX(-50%)

  &__inner-bottom
    width: 100%

    &.is-disabled
      display: none

  &__list-block
    align-items: center
    border-top: 1px solid rgba(#fff, 0.05)
    display: flex
    justify-content: center
    height: 115px
    min-width: 100%
    order: 3
    position: relative
    width: 100%
    z-index: 4

    @media(min-height: 800px)
      height: 130px

    @media(min-height: 1200px)
      height: 170px

    &--design
      display: flex

  &__tabs
    height: 26px
    margin-left: auto
    margin-right: auto
    max-width: 1920px

    @media(min-height: 800px)
      height: 42px

    @media(min-width: 2500px)
      max-width: 3400px

  &__tabs-list
    display: flex
    font-family: $secondary-font
    font-size: 13px
    justify-content: space-between
    list-style: none
    margin: 0
    padding: 0 75px
    text-transform: uppercase

    @media(min-height: 900px)
      font-size: 15px

    @media(min-width: 2500px)
      font-size: 18px !important

  &__tabs-link
    border-bottom: 3px solid transparent
    color: rgba(#fff, 0.4)
    display: block
    padding-bottom: 5px
    transition: border-color 0.3s, color 0.3s

    @media(min-height: 800px)
      padding-bottom: 20px

    &.is-active
      border-bottom-color: $main-color
      color: #fff

    &:hover
      color: #fff
      text-decoration: none

  &__tags
    background-color: #0F0F0F
    border-top: 1px solid rgba(#fff, 0.1)
    border-bottom: 1px solid rgba(#fff, 0.1)
    height: 48px
    overflow: hidden

    @media(min-height: 900px)
      height: 64px

    @media(min-height: 1000px)
      margin-bottom: 16px

  &__tags-list
    align-items: center
    cursor: grab
    display: flex
    overflow-x: auto
    padding-top: 8px
    padding-bottom: 8px
    padding-left: 75px
    padding-right: 75px
    user-select: none

    @media(min-height: 900px)
      padding-top: 16px
      padding-bottom: 16px

    &.active
      cursor: grabbing

  &__tag
    align-items: center
    color: #fff
    display: flex
    font-size: 16px
    line-height: 20px
    height: 32px
    margin-right: 28px
    padding: 6px 8px
    user-select: none
    white-space: nowrap

    svg
      fill: #fff
      filter: drop-shadow(0 1px 1px rgba(#000, 0.25))
      height: 12px
      width: 12px

    &--type_1
      background-color: rgba(#FFD9A8, 0.3)

    &--type_2
      background-color: rgba(#3B81EA, 0.3)
      color: #53D6FE

      svg
        fill: #53D6FE

    &--type_3
      background-color: rgba(#D43C38, 0.3)
      color: #F36D6A

      svg
        fill: #F36D6A

    &--type_4
      background-color: rgba(#FFFFFF, 0.3)

    &--type_5
      background-color: rgba(#9B5DE5, 0.3)
      color: #D4B0FF

      svg
        fill: #D4B0FF

    &--type_6
      background-color: rgba(#E06C2E, 0.3)
      color: #FFB086

      svg
        fill: #FFB086

    &--type_7
      background-color: #76B900
      text-shadow: 0 1px 1px rgba(#000, 0.25)

    &--type_8
      background-color: #F26522
      text-shadow: 0 1px 1px rgba(#000, 0.25)

    &--type_9
      background-color: #0071C5
      text-shadow: 0 1px 1px rgba(#000, 0.25)

    &--type_10
      background: linear-gradient(90deg, #FF0000 0%, #FF3131 100%)

    &--type_11
      background: linear-gradient(90.96deg, #FF0029 1.14%, #FF2A4C 100%)

    &--type_12
      background: linear-gradient(90deg, #F3AD00 0%, #FFCF58 100%)
      color: #000

      svg
        fill: #000

    &--type_13
      background: linear-gradient(90deg, #FF6400 0%, #FF8C41 100%)

    &--type_14
      background: linear-gradient(90deg, #FF6400 0%, #FF9A59 100%)

  &__tag-delete
    align-items: center
    border: none
    border-radius: 2px
    background-color: transparent
    cursor: pointer
    display: flex
    height: 24px
    justify-content: center
    margin-left: 12px
    padding: 0
    transition: background-color 0.3s
    width: 24px

    &:hover
      background-color: rgba(#fff, 0.2)

    &:active
      background-color: rgba(#fff, 0.4)
