<div class="nc__inner-top" data-section="2">
  <div class="nc__inner-cell nc__inner-cell--accessory_picture" style="background-image: url('images/content/img_54.png')"></div>
  <div class="nc__inner-cell nc__inner-cell--accessory_info custom-scroll">
    <h3>Cooler Master MasterMouse CM310:</h3>
    <p>
      Cooler Master MasterMouse CM310 - это надежная мышь, которая подойдет каждому геймеру. Оптический датчик 10000 DPI обеспечивает максимальную производительность, а две кнопки управления — DPI и кнопка регулировки подсветки — позволят
      быстро и удобно настроить мышь под себя. Уникальность устройству придают пять предустановленных режимов подсветки и RGB-эффектов, а также полоса RGB, которая опоясывает весь корпус CM310.
    </p>
    <p>
      Cooler Master MasterMouse CM310 - это надежная мышь, которая подойдет каждому геймеру. Оптический датчик 10000 DPI обеспечивает максимальную производительность, а две кнопки управления — DPI и кнопка регулировки подсветки — позволят
      быстро и удобно настроить мышь под себя. Уникальность устройству придают пять предустановленных режимов подсветки и RGB-эффектов, а также полоса RGB, которая опоясывает весь корпус CM310.
    </p>
    <div class="col-sm-12 col-md-12 dr-smart-config-element-badge-wrap badge4">
      <div class="dr-smart-config-element-badge blue">
        <div>10000</div>
        <div>DPI<br> Cенсор оптический</div>
      </div>
      <div class="dr-smart-config-element-badge">
        <div>RGB</div>
        <div>Подсветка<br> 16.7 млн цветов</div>
      </div>
      <div class="dr-smart-config-element-badge">
        <div>8</div>
        <div>Количество<br> кнопок</div>
      </div>
      <div class="dr-smart-config-element-badge">
        <div>1000Hz</div>
        <div>Частота<br> опроса</div>
      </div>
      <div class="dr-smart-config-element-badge">
        <div>-</div>
        <div>Встроенная память</div>
      </div>
      <div class="dr-smart-config-element-badge">
        <div>60 ips</div>
        <div>или 20g <br>Отслеживание</div>
      </div>
      <div class="dr-smart-config-element-badge">
        <div>USB</div>
        <div>Интерфейс<br> подключения</div>
      </div>
      <div class="dr-smart-config-element-badge">
        <div>2 года</div>
        <div>Гарантии <br>от производителя</div>
      </div>
    </div>
  </div>
</div>
