<!--<div class="advisor">
  <button class="advisor__button" type="button" title="Получите совет"><svg class="advisor__icon" aria-hidden="true">
      <use xlink:href="#info" /></svg></button>
  <div class="advise">
    <button class="advise__close" type="button" title="Закрыть"><svg class="advise__close-icon" aria-hidden="true">
        <use xlink:href="#times-circle" /></svg></button>
    <div class="advise__image"><img src="images/content/img_48.png" alt="alt"></div>
    <div class="advise__text-block">
      <p class="advise__title">Совет!</p>
      <p class="advise__text">Бла-бла-бла... Купи нормальный комп!</p>
      <p class="advise__button-block"><a class="button button--red" href="#">Я кнопка</a></p>
    </div>
  </div>
</div>-->
