<div class="nc__performance-tabs">
  <ul class="js-performance-type nc__performance-tabs-list nc__performance-tabs-list--big">
    <li class="nc__performance-tabs-item"><a class="nc__performance-tabs-link is-active" data-target="games" href="#">Игры</a></li>
    <li class="nc__performance-tabs-item"><a class="nc__performance-tabs-link" data-target="content" href="#">Создание контента</a></li>
  </ul>
  <div class="nc__performance-tabs-resolution">
    <ul class="nc__performance-tabs-list nc__performance-tabs-list--small">
      <li class="nc__performance-tabs-item"><a class="nc__performance-tabs-link is-active" href="#">1080P</a></li>
      <li class="nc__performance-tabs-item"><a class="nc__performance-tabs-link" href="#">2K</a></li>
    </ul>
  </div>
  <a class="change-games" href="javascript:void(0)" data-src="#popup_7" data-fancybox="graps_options">
    <svg class="change-games__icon" aria-hidden="true">
      <use xlink:href="#pen"/>
    </svg>
    Настроить
  </a>
</div>
<div class="nc__performance-bars">
  <div class="nc__performance-bars-tab is-active" data-target="games">
    <div class="nc__performance-fps">
      <span>0 fps</span>
      <span>60 fps</span>
      <span>144 fps</span>
      <span>240 fps</span>
    </div>
    <div class="nc__performance-pbars">
      <div class="pbar-block">
        <div class="pbar-block__image"><img src="images/content/img_13.png" alt=""></div>
        <div class="pbar-block__bar">
          <div class="perf-bar">
            <div id="plus" class="perf-bar__bar" style="width: 60%;">
              <span class="perf-bar__title">League of Legends</span>
              <span class="perf-bar__value">
                <span>120</span> FPS
                <span class="perf-bar__value-text">больше-лучше</span>
              </span>
            </div>
            <div id="dplus" class="perf-bar__delta plus" style="width: 65%;"></div>
            <div class="perf-bar__delta-num plus">+10%</div>
          </div>
        </div>
      </div>
      <div class="pbar-block">
        <div class="pbar-block__image"><img src="images/content/img_14.png" alt=""></div>
        <div class="pbar-block__bar">
          <div class="perf-bar">
            <div class="perf-bar__bar" style="width: 54%;">
              <span class="perf-bar__title">World of Tanks</span>
              <span class="perf-bar__value">
                <span>118</span> FPS
                <span class="perf-bar__value-text">больше-лучше</span>
              </span>
            </div>
            <div class="perf-bar__delta minus" style="width: 64%;"></div>
            <div class="perf-bar__delta-num minus">-10%</div>
          </div>
        </div>
      </div>
      <div class="pbar-block">
        <div class="pbar-block__image"><img src="images/content/img_15.png" alt=""></div>
        <div class="pbar-block__bar">
          <div class="perf-bar">
            <div class="perf-bar__bar" style="width: 76%;">
              <span class="perf-bar__title">Dota 2</span>
              <span class="perf-bar__value">
                <span>124</span> FPS
                <span class="perf-bar__value-text">больше-лучше</span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="pbar-block">
        <div class="pbar-block__image"><img src="images/content/img_16.png" alt=""></div>
        <div class="pbar-block__bar">
          <div class="perf-bar">
            <div class="perf-bar__bar" style="width: 84%;">
              <span class="perf-bar__title">CS:GO</span>
              <span class="perf-bar__value">
                <span>132</span> FPS
                <span class="perf-bar__value-text">больше-лучше</span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="pbar-block">
        <div class="pbar-block__image"><img src="images/content/img_17.png" alt=""></div>
        <div class="pbar-block__bar">
          <div class="perf-bar">
            <div class="perf-bar__bar" style="width: 97%;">
              <span class="perf-bar__title">Warface</span>
              <span class="perf-bar__value">
                <span>142</span> FPS
                <span class="perf-bar__value-text">больше-лучше</span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="pbar-block">
        <div class="pbar-block__image"><img src="images/content/img_18.png" alt=""></div>
        <div class="pbar-block__bar">
          <div class="perf-bar">
            <div class="perf-bar__bar" style="width: 49%;">
              <span class="perf-bar__title">Battlefield 1</span>
              <span class="perf-bar__value">
                <span>185</span> FPS
                <span class="perf-bar__value-text">больше-лучше</span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="pbar-block">
        <div class="pbar-block__image"><img src="images/content/img_19.png" alt=""></div>
        <div class="pbar-block__bar">
          <div class="perf-bar">
            <div class="perf-bar__bar" style="width: 95%;">
              <span class="perf-bar__title">GTA 5</span>
              <span class="perf-bar__value">
                <span>160</span> FPS
                <span class="perf-bar__value-text">больше-лучше</span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="pbar-block">
        <div class="pbar-block__image"><img src="images/content/img_20.png" alt=""></div>
        <div class="pbar-block__bar">
          <div class="perf-bar">
            <div class="perf-bar__bar" style="width: 90%;">
              <span class="perf-bar__title">Minecraft</span>
              <span class="perf-bar__value">
                <span>142</span> FPS
                <span class="perf-bar__value-text">больше-лучше</span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="pbar-block hidden">
        <div class="pbar-block__image"><img src="images/content/img_17.png" alt=""></div>
        <div class="pbar-block__bar">
          <div class="perf-bar">
            <div class="perf-bar__bar" style="width: 97%;">
              <span class="perf-bar__title">Warface</span>
              <span class="perf-bar__value">
                <span>142</span> FPS
                <span class="perf-bar__value-text">больше-лучше</span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="pbar-block hidden">
        <div class="pbar-block__image"><img src="images/content/img_13.png" alt=""></div>
        <div class="pbar-block__bar">
          <div class="perf-bar">
            <div id="plus" class="perf-bar__bar" style="width: 60%;">
              <span class="perf-bar__title">League of Legends</span>
              <span class="perf-bar__value">
                <span>120</span> FPS
                <span class="perf-bar__value-text">больше-лучше</span>
              </span>
            </div>
            <div id="dplus" class="perf-bar__delta" style="width: 60%;">+5 sec</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="nc__performance-bars-tab" data-target="content">
    <div class="pbar-block">
      <div class="pbar-block__bar">
        <div class="perf-bar">
          <div class="perf-bar__bar" style="width: 46%;"><span class="perf-bar__title">Рендеринг</span></div>
        </div>
      </div>
    </div>
    <div class="pbar-block">
      <div class="pbar-block__bar">
        <div class="perf-bar">
          <div class="perf-bar__bar" style="width: 35%;"><span class="perf-bar__title">Обработка видео H264</span></div>
        </div>
      </div>
    </div>
    <div class="pbar-block">
      <div class="pbar-block__bar">
        <div class="perf-bar">
          <div class="perf-bar__bar" style="width: 60%;"><span class="perf-bar__title">Многозадачность</span></div>
        </div>
      </div>
    </div>
  </div>
</div>
