<div class="boxes">
  <div class="boxes__left">
    <div class="design-manage">
      <label class="light-up" for="light-up">
        <input id="light-up" class="light-up__input" type="checkbox">
        <span class="light-up__checkbox"></span>
        Подсветка
      </label>
      <button class="add-art" type="button">
        <svg class="add-art__icon" aria-hidden="true">
          <use xlink:href="#brush"/>
        </svg>
        Нанести арт
      </button>
    </div>
    <div class="js-boxes-slider boxes-slider">
      <div class="boxes-slider__slide">
        <img src="images/content/img_30.png" alt="корпус">
      </div>
      <div class="boxes-slider__slide">
        <img src="images/content/img_34.png" alt="корпус">
      </div>
      <div class="boxes-slider__slide">
        <img src="images/content/img_35.png" alt="корпус">
      </div>
      <div class="boxes-slider__slide">
        <img src="images/content/img_30.png" alt="корпус">
      </div>
      <div class="boxes-slider__slide">
        <img src="images/content/img_34.png" alt="корпус">
      </div>
    </div>
  </div>
  <div class="boxes__right">
    <div class="js-boxes-vertical-slider boxes-vertical-slider">
      <div class="boxes-vertical-slider__slide">
        <div class="boxes-vertical-slider__img"><img src="images/content/img_31.png" alt="корпус"></div>
      </div>
      <div class="boxes-vertical-slider__slide">
        <div class="boxes-vertical-slider__img"><img src="images/content/img_32.png" alt="корпус"></div>
      </div>
      <div class="boxes-vertical-slider__slide">
        <div class="boxes-vertical-slider__img"><img src="images/content/img_33.png" alt="корпус"></div>
      </div>
      <div class="boxes-vertical-slider__slide">
        <div class="boxes-vertical-slider__img"><img src="images/content/img_31.png" alt="корпус"></div>
      </div>
      <div class="boxes-vertical-slider__slide">
        <div class="boxes-vertical-slider__img"><img src="images/content/img_32.png" alt="корпус"></div>
      </div>
    </div>
  </div>
</div>
