<div class="nc__tabs">
  <ul class="nc__tabs-list">
    <li class="nc__tabs-item">
      <a class="js-config-tab nc__tabs-link is-active" href="#" data-section="1">01. Комплектующие</a>
    </li>
    <li class="nc__tabs-item">
      <a class="js-config-tab nc__tabs-link" href="#" data-section="1">02. Дополнительно</a>
    </li>
    <li class="nc__tabs-item">
      <a class="js-config-tab nc__tabs-link" href="#" data-section="1">03. Сервис</a>
    </li>
    <li class="nc__tabs-item">
      <a class="js-config-tab nc__tabs-link" href="#" data-section="2">04. Аксессуары</a>
    </li>
    <li class="nc__tabs-item">
      <a class="js-config-result nc__tabs-link" href="#">05. Итого</a>
    </li>
  </ul>
</div>
