<div class="nc__tags">
    <div class="js-scroller nc__tags-list">
        <div class="nc__tag nc__tag--type_1">
            Доп. задачи: 3D
            <button class="nc__tag-delete" type="button" title="Удалить">
                <svg aria-hidden="true">
                    <use xlink:href="#close" />
                </svg>
            </button>
        </div>
        <div class="nc__tag nc__tag--type_1">
            Доп. задачи: Видеомонтаж
            <button class="nc__tag-delete" type="button" title="Удалить">
                <svg aria-hidden="true">
                    <use xlink:href="#close" /></svg>
            </button>
        </div>
        <div class="nc__tag nc__tag--type_1">
            Доп. задачи: Стриминг
            <button class="nc__tag-delete" type="button" title="Удалить">
                <svg aria-hidden="true">
                    <use xlink:href="#close" /></svg>
            </button>
        </div>
        <div class="nc__tag nc__tag--type_2">
            Охлаждение: Воздух
            <button class="nc__tag-delete" type="button" title="Удалить">
                <svg aria-hidden="true">
                    <use xlink:href="#close" /></svg>
            </button>
        </div>
        <div class="nc__tag nc__tag--type_2">
            Охлаждение: Вода
            <button class="nc__tag-delete" type="button" title="Удалить">
                <svg aria-hidden="true">
                    <use xlink:href="#close" /></svg>
            </button>
        </div>
        <div class="nc__tag nc__tag--type_2">
            Охлаждение: Кастом
            <button class="nc__tag-delete" type="button" title="Удалить">
                <svg aria-hidden="true">
                    <use xlink:href="#close" /></svg>
            </button>
        </div>
        <div class="nc__tag nc__tag--type_3">
            Подсветка
            <button class="nc__tag-delete" type="button" title="Удалить">
                <svg aria-hidden="true">
                    <use xlink:href="#close" /></svg>
            </button>
        </div>
        <div class="nc__tag nc__tag--type_4">
            Бесшумный
            <button class="nc__tag-delete" type="button" title="Удалить">
                <svg aria-hidden="true">
                    <use xlink:href="#close" /></svg>
            </button>
        </div>
        <div class="nc__tag nc__tag--type_5">
            Компактный
            <button class="nc__tag-delete" type="button" title="Удалить">
                <svg aria-hidden="true">
                    <use xlink:href="#close" /></svg>
            </button>
        </div>
        <div class="nc__tag nc__tag--type_6">
            С разворотом видеокарты
            <button class="nc__tag-delete" type="button" title="Удалить">
                <svg aria-hidden="true">
                    <use xlink:href="#close" /></svg>
            </button>
        </div>
        <div class="nc__tag nc__tag--type_7">
            Видеокарта: Nvidia
            <button class="nc__tag-delete" type="button" title="Удалить">
                <svg aria-hidden="true">
                    <use xlink:href="#close" /></svg>
            </button>
        </div>
        <div class="nc__tag nc__tag--type_8">
            Видеокарта: AMD
            <button class="nc__tag-delete" type="button" title="Удалить">
                <svg aria-hidden="true">
                    <use xlink:href="#close" /></svg>
            </button>
        </div>
        <div class="nc__tag nc__tag--type_9">
            Процессор: Intel
            <button class="nc__tag-delete" type="button" title="Удалить">
                <svg aria-hidden="true">
                    <use xlink:href="#close" /></svg>
            </button>
        </div>
        <div class="nc__tag nc__tag--type_8">
            Процессор: AMD
            <button class="nc__tag-delete" type="button" title="Удалить">
                <svg aria-hidden="true">
                    <use xlink:href="#close" /></svg>
            </button>
        </div>
        <div class="nc__tag nc__tag--type_10">
            MSI
            <button class="nc__tag-delete" type="button" title="Удалить">
                <svg aria-hidden="true">
                    <use xlink:href="#close" /></svg>
            </button>
        </div>
        <div class="nc__tag nc__tag--type_11">
            ASUS ROG
            <button class="nc__tag-delete" type="button" title="Удалить">
                <svg aria-hidden="true">
                    <use xlink:href="#close" /></svg>
            </button>
        </div>
        <div class="nc__tag nc__tag--type_12">
            ASUS TUF
            <button class="nc__tag-delete" type="button" title="Удалить">
                <svg aria-hidden="true">
                    <use xlink:href="#close" /></svg>
            </button>
        </div>
        <div class="nc__tag nc__tag--type_13">
            AORUS
            <button class="nc__tag-delete" type="button" title="Удалить">
                <svg aria-hidden="true">
                    <use xlink:href="#close" /></svg>
            </button>
        </div>
        <div class="nc__tag nc__tag--type_14">
            GIGABYTE
            <button class="nc__tag-delete" type="button" title="Удалить">
                <svg aria-hidden="true">
                    <use xlink:href="#close" /></svg>
            </button>
        </div>
    </div>
</div>