<div class="nc__tabs">
  <ul class="nc__tabs-list">
    <li class="nc__tabs-item">
      <a class="nc__tabs-link is-active" href="#">01. Комплектующие</a>
    </li>
    <li class="nc__tabs-item">
      <a class="nc__tabs-link" href="#">02. Дополнительно</a>
    </li>
    <li class="nc__tabs-item">
      <a class="nc__tabs-link" href="#">03. Сервис</a>
    </li>
    <li class="nc__tabs-item">
      <a class="nc__tabs-link" href="#">04. Аксессуары</a>
    </li>
    <li class="nc__tabs-item">
      <a class="nc__tabs-link" href="#">05. Итого</a>
    </li>
  </ul>
</div>
