<footer class="footer">
  <div class="footer__inner footer__inner--main is-active">
    <button class="footer__compare" type="button">
      <svg class="footer__compare-icon" aria-hidden="true">
        <use xlink:href="#circle-plus"/>
      </svg>
      Добавить в сравнение текущую конфигурация
    </button>

    <div class="footer__price-block">
      <p class="footer__price">100 000 руб.</p>
      <p class="footer__price-per-month">
        3500 руб. / мес.
        <button class="footer__month-price-link" type="button" data-src="#popup_6" data-fancybox="popup_6">
          <svg class="footer__month-price-icon" aria-hidden="true">
            <use xlink:href="#circle-question"/>
          </svg>
        </button>
      </p>
    </div>

    <button class="footer__save" title="Сохранить" data-src="#popup_1" data-fancybox="popup_1">
      <svg class="footer__save-icon" aria-hidden="true">
        <use xlink:href="#save"/>
      </svg>
      Сохранить
    </button>

    <a class="js-config-result footer__result" href="#" title="Итого">Итого</a>
  </div>
  <div class="footer__inner footer__inner--result">
    <button class="footer__compare" type="button">
      <svg class="footer__compare-icon" aria-hidden="true">
        <use xlink:href="#circle-plus"/>
      </svg>
      Добавить в сравнение текущую конфигурация
    </button>

    <button class="footer__edit" type="button">
      <svg class="footer__edit-icon" aria-hidden="true">
        <use xlink:href="#edit"/>
      </svg>
      Изменить
    </button>

    <button class="footer__save" title="Сохранить" data-src="#popup_1" data-fancybox="popup_2">
      <svg class="footer__save-icon" aria-hidden="true">
        <use xlink:href="#save"/>
      </svg>
      Сохранить
    </button>

    <a class="footer__result" href="#">Оформить заказ</a>
  </div>
</footer>
