<header class="header">
  <div class="header__inner">
    <h1 class="header__logo">
      <a class="header__logo-link" href="#">
        <img class="header__logo-image" src="images/logo.png" alt="Назад">
        <span class="header__logo-text">Performance</span>
      </a>
    </h1>

    <a class="header__compare" href="#">
      <svg class="header__compare-icon" aria-hidden="true">
        <use xlink:href="#compare"/>
      </svg>
      <span class="header__compare-text">В сравнении</span>
      <span class="header__compare-count">2</span>
    </a>

    <button class="header__chat" type="button">
      <svg class="header__chat-icon" aria-hidden="true">
        <use xlink:href="#chat"/>
      </svg>
      Чат
    </button>

    <button class="js-personal-opener header__personal" type="button" title="Личный кабинет">
      <svg class="header__personal-icon" aria-hidden="true">
        <use xlink:href="#personal"/>
      </svg>
    </button>

    <div class="personal-menu">
      <ul class="personal-menu__list">
        <li class="personal-menu__title">ЛИЧНЫЙ КАБИНЕТ</li>
        <li class="personal-menu__item">
          <a class="personal-menu__link" href="#">Сохраненные конфигурации</a>
        </li>
        <li class="personal-menu__item">
          <a class="personal-menu__link" href="#">Текущие заказы</a>
        </li>
        <li class="personal-menu__item">
          <a class="personal-menu__link" href="#">Корзина</a>
        </li>
        <li class="personal-menu__item">
          <a class="personal-menu__link" href="#">Личные данные</a>
        </li>
        <li class="personal-menu__item">
          <a class="personal-menu__link" href="#">История заказов</a>
        </li>
        <li class="personal-menu__item">
          <a class="personal-menu__link" href="#">Выход</a>
        </li>
      </ul>
    </div>

    <a class="header__cart" href="#" title="Корзина">
      <span class="header__cart-count">0</span>
      <svg class="header__cart-icon" aria-hidden="true">
        <use xlink:href="#cart"/>
      </svg>
    </a>
  </div>
</header>
