<div id="popup_1" class="popup">
  <button class="js-popup-close popup__close" type="button" title="Закрыть"><svg class="popup__close-icon" aria-hidden="true"><use xlink:href="#window-close"/></svg></button>
  <p class="popup__title">НЕ ЗАБУДЬТЕ СОХРАНИТЬ КОНФИГУРАЦИЮ:</p>
  <p class="popup__text">Рекомендуем сохранить Вашу конфигурацию, что бы не сделанные изменения или вернуться к ней позднее.</p>
  <p class="popup__text">Ссылка на конфигурацию придет к Вам на электронную почту, а так же все Ваши сохраненные конфигурации будут доступны в личном кабинете.</p>
  <div class="popup__options-buttons">
    <a class="popup__option-button" href="#">
      <svg class="popup__option-button-icon" aria-hidden="true"><use xlink:href="#file-pdf"/></svg>
      <span class="popup__option-button-text">Сохранить конфигурацию<br> в PDF файл</span>
    </a>
    <a class="popup__option-button" href="#popup_3" data-fancybox="popup">
      <svg class="popup__option-button-icon" aria-hidden="true"><use xlink:href="#mail-bulk"/></svg>
      <span class="popup__option-button-text">Отправить конфигурацию<br> на почту</span>
    </a>
    <a class="popup__option-button" href="#popup_5" data-fancybox="popup">
      <svg class="popup__option-button-icon" aria-hidden="true"><use xlink:href="#link"/></svg>
      <span class="popup__option-button-text">Создать постоянную<br> ссылку</span>
    </a>
  </div>
</div>

<div id="popup_2" class="popup">
  <button class="js-popup-close popup__close" type="button" title="Закрыть"><svg class="popup__close-icon" aria-hidden="true"><use xlink:href="#window-close"/></svg></button>
  <p class="popup__title">ОБРАТИТЕ ВНИМАНИЕ, ВЫ НЕ ЗАВЕРШИЛИ ОФОРМЛЕНИЕ ЗАКАЗА</p>
  <p class="popup__text">По какой-то причине Вы не завершили оформление заказа, не беспокойтесь мы сохраним вашу конфигурацию и список товаров в вашем личном кабинете, вы сможете продолжить покупки в более удобное время.</p>
  <div class="popup__options-buttons">
    <a class="popup__option-button" href="#">
      <svg class="popup__option-button-icon" aria-hidden="true"><use xlink:href="#comment-dollar"/></svg>
      <span class="popup__option-button-text">У меня есть вопрос<br> по оплате</span>
    </a>
    <a class="popup__option-button" href="#">
      <svg class="popup__option-button-icon" aria-hidden="true"><use xlink:href="#shipping-fast"/></svg>
      <span class="popup__option-button-text">У меня есть вопрос<br> по доставке</span>
    </a>
    <a class="popup__option-button" href="#">
      <svg class="popup__option-button-icon" aria-hidden="true"><use xlink:href="#comments-alt"/></svg>
      <span class="popup__option-button-text">Мне нужна<br> консультация</span>
    </a>
  </div>
  <div class="popup__buttons">
    <a class="popup__button button" href="#">Не интересует</a>
    <a class="popup__button button button--red" href="#">Продолжу позже</a>
  </div>
</div>

<div id="popup_3" class="popup">
  <button class="js-popup-close popup__close" type="button" title="Закрыть"><svg class="popup__close-icon" aria-hidden="true"><use xlink:href="#window-close"/></svg></button>
  <p class="popup__title">ОТПРАВИТЬ КОНФИГУРАЦИЮ НА ПОЧТУ:</p>
  <form class="popup__form" action="">
    <label class="popup__form-label" for="email">
      <input class="input" id="email" type="text" placeholder="E-mail">
    </label>
    <label class="popup__form-label" for="comment">
      <textarea class="popup__form-textarea textarea" id="comment" placeholder="Ваш вопрос или комментарий"></textarea>
    </label>
    <div class="popup__form-buttons">
      <button class="popup__form-button button button--red" type="submit">Отправить на почту</button>
    </div>
  </form>
</div>

<div id="popup_4" class="popup">
  <button class="js-popup-close popup__close" type="button" title="Закрыть"><svg class="popup__close-icon" aria-hidden="true"><use xlink:href="#window-close"/></svg></button>
  <p class="popup__title">Какой у Вас вопрос?</p>
  <form class="popup__form" action="">
    <div class="popup__form-row">
      <div class="popup__form-row-block">
        <label class="popup__form-label" for="name">
          <input class="input" id="name" type="text" placeholder="Имя">
        </label>
        <label class="popup__form-label" for="phone">
          <input class="input" id="phone" type="text" placeholder="Телефон">
        </label>
      </div>
      <div class="popup__form-row-block">
        <label class="popup__form-label" for="email_">
          <input class="input" id="email_" type="text" placeholder="E-mail">
        </label>
        <label class="popup__form-label" for="city">
          <input class="input" id="city" type="text" placeholder="Город">
        </label>
      </div>
    </div>
    <label class="popup__form-label" for="question">
      <textarea class="popup__form-textarea textarea" id="question" placeholder="Ваш вопрос"></textarea>
    </label>
    <div class="popup__form-buttons">
      <button class="popup__form-button button button--red" type="submit">Отправить</button>
    </div>
  </form>
</div>

<div id="popup_5" class="popup">
  <button class="js-popup-close popup__close" type="button" title="Закрыть"><svg class="popup__close-icon" aria-hidden="true"><use xlink:href="#window-close"/></svg></button>
  <p class="popup__title">ССЫЛКА НА КОНФИГУРАЦИЮ</p>
  <p class="popup__text">Конфигурация успешно сохранена и доступна по постоянной<br> ссылке: <a href="https://digital-razor.ru/configurator/670093/" target="_blank">https://digital-razor.ru/configurator/670093/</a></p>
  <hr>
  <p class="popup__text">Еще Вы можете отправить ссылку на конфигурацию себе на электронную почту.</p>
  <form class="popup__form" action="">
    <div class="popup__form-row">
      <div class="popup__form-row-block">
        <label class="popup__form-label" for="email__">
          <input class="input" id="email__" type="text" placeholder="E-mail">
        </label>
      </div>
    </div>
    <label class="popup__form-label" for="question_">
      <textarea class="popup__form-textarea textarea" id="question_" placeholder="Ваш вопрос или комментарий"></textarea>
    </label>
    <div class="popup__form-buttons">
      <button class="popup__form-button button button--red" type="submit">Отправить</button>
    </div>
  </form>
</div>

<div id="popup_6" class="popup">
  <button class="js-popup-close popup__close" type="button" title="Закрыть"><svg class="popup__close-icon" aria-hidden="true"><use xlink:href="#window-close"/></svg></button>
  <p class="popup__title">ОПЛАТА ЧАСТЯМИ ОНЛАЙН</p>
  <div class="credit-block">
    <svg class="credit-block__icon" aria-hidden="true"><use xlink:href="#piggy-bank"/></svg>
    <div class="credit-block__text-block">
      <p>Вы можете купить игровой компьютер в кредит и оплачивать всю сумму равными частями в течение выбранного срока - от 2 до 36 месяцев</p>
    </div>
  </div>
  <div class="credit-block">
    <svg class="credit-block__icon" aria-hidden="true"><use xlink:href="#wpforms"/></svg>
    <div class="credit-block__text-block">
      <p class="credit-block__title">БЫСТРО И ПРОСТО</p>
      <p>Заполните короткую анкету и получите решение по Вашей заявке за 2 минуты.</p>
    </div>
  </div>
  <div class="credit-block">
    <svg class="credit-block__icon" aria-hidden="true"><use xlink:href="#ruble-sign"/></svg>
    <div class="credit-block__text-block">
      <p class="credit-block__title">ВЫБОР ЛУЧШИХ УСЛОВИЙ</p>
      <p>Заявка уходит на рассмотрение в больше число финансовых организаций: Райффайзен Банк Банк Восточный, Тинькофф Банк, Кредит Европа Банк, Почта Банк, Альфа-Банк и др.</p>
    </div>
  </div>
  <div class="popup__buttons">
    <a class="js-popup-close popup__button button" href="#">Назад</a>
    <a class="popup__button button button--red" href="#">Купить в рассрочку</a>
  </div>
</div>
