.nc-item
  background-color: #0D0D0D
  color: #fff
  cursor: pointer
  display: flex
  flex-direction: column
  min-height: 70px
  position: relative

  &--empty
    align-self: stretch
    cursor: default
    display: block
    pointer-events: none
    position: relative

    &::before
      background: url('../images/vertical_logo.png') no-repeat 50% 50% / auto 80% #000
      content: ""
      height: 100%
      left: 0
      opacity: 0.25
      position: absolute
      top: 0
      width: 100%

  &__radio
    display: none

    &:checked + .nc-item__inner .nc-item__feature,
    &:checked + .nc-item__inner .nc-item__prop
      background-color: $main-color

    &:checked + .nc-item__inner
      background-color: $main-color

  &__inner
    align-items: center
    display: flex
    flex-direction: row
    height: auto
    min-height: 70px
    padding: 0 10px
    position: relative

  &__title-block
    padding-left: 10px

  &__title
    font-size: 16px
    font-weight: 300
    line-height: 1
    white-space: nowrap

  &__image
    width: 56px

  &__feature
    color: rgba(#fff, 0.6)
    font-size: 10px
    font-weight: 500
    min-height: 0
    margin-top: 3px

  &__prop
    font-weight: 700

  &__prop-feature
    display: block
    font-size: 10px
    font-weight: 400
    text-align: right

.nc-item2
  border-right: 1px solid #262626
  border-bottom: 1px solid #262626
  color: #fff
  cursor: pointer
  display: flex
  flex-direction: column
  font-size: 14px
  font-weight: 500
  min-width: 140px
  position: relative
  width: 140px

  @media(min-height: 700px)
    min-width: 180px
    width: 180px

  &--empty
    align-self: stretch
    cursor: default
    display: block
    pointer-events: none
    position: relative

    //&::before
      @media(min-width: 992px)
        background: url('../images/vertical_logo.png') no-repeat 50% 50% / 80% auto #000
        content: ""
        height: 100%
        left: 0
        opacity: 0.25
        position: absolute
        top: 0
        width: 100%


  &__radio
    display: none

    &:checked ~ .nc-item2__image
      background-color: $main-color

  &__image
    height: 160px
    text-align: center

    @media(min-height: 700px)
      height: 204px

  &__info
    bottom: 0
    left: 0
    padding-left: 10px
    padding-right: 10px
    padding-bottom: 10px
    position: absolute
    top: auto
    width: 100%
    z-index: 1

    @media(min-height: 700px)
      padding-left: 20px
      padding-right: 20px
      padding-bottom: 15px

  &__feature
    color: rgba(#fff, 0.6)
    font-size: 10px
    font-weight: 500

  &__title
    font-size: 14px

    @media(min-height: 700px)
      font-size: 16px

.nc-item3
  border: 1px solid #888
  background-color: #373737
  color: #fff
  cursor: pointer
  display: flex
  flex-direction: column
  font-size: 14px
  font-weight: 500
  margin-left: 5px
  margin-right: 5px
  margin-bottom: 10px
  position: relative
  width: calc(50% - 10px)

  @media(min-width: 600px)
    font-size: 13px
    width: calc(25% - 10px)

  @media(min-width: 992px)
    background-color: #000
    box-shadow: 0 0 6px 3px rgba(0,0,0,0.3)
    margin-bottom: 1px
    min-height: 50px
    min-width: 140px
    margin: 1px
    width: 140px

  @media(min-width: 1500px) and (min-height: 730px)
    min-width: 198px
    width: 198px

  &__radio
    display: none

    &:checked ~ .nc-item3__feature
      background-color: #F13724

  &__title
    bottom: 40px
    font-size: 16px
    font-weight: 700
    left: 0
    padding: 5px 10px
    position: absolute
    top: auto
    text-align: right
    width: 100%

    @media(min-width: 1400px)
      font-size: 20px

    @media(min-width: 1500px) and (min-height: 730px)
      bottom: 50px

  &__feature
    align-items: center
    background-color: #444
    display: flex
    font-size: 12px
    flex-grow: 1
    justify-content: flex-end
    line-height: 1
    min-height: 40px
    padding: 5px 10px
    text-align: right
    width: 100%

    @media(min-width: 1500px) and (min-height: 730px)
      font-size: 12px
      min-height: 50px
