.pbar-block
  align-items: center
  background-image: linear-gradient(90deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0) 100%)
  outline: 1px solid rgba(#fff, 0.1)
  color: #fff
  display: flex
  justify-content: space-between
  font-size: 12px
  font-weight: 500
  height: 30px
  margin-top: 3px
  position: relative

  @media(min-height: 700px)
    height: 35px

  @media(min-height: 740px)
    font-size: 16px
    height: 38px
    margin-top: 6px

  @media(min-height: 850px)
    font-size: 16px
    height: 42px
    margin-top: 10px

  &:first-child
    margin-top: 0

  &__image
    align-items: center
    display: flex
    justify-content: center
    min-width: 52px
    width: 52px

    img
      max-width: 36px
      width: 36px

  &__bar
    flex-grow: 1
    height: 100%


.perf-bar
  height: 100%
  position: relative

  &__title
    display: flex
    justify-content: space-between
    position: relative
    z-index: 3

  &__bar
    align-items: center
    background-color: $main-color
    display: flex
    height: 100%
    justify-content: space-between
    left: 0
    padding-left: 10px
    padding-right: 10px
    position: absolute
    top: 0
    z-index: 2

  &__delta
    align-items: center
    color: #fff
    display: flex
    font-size: 12px
    height: 100%
    justify-content: flex-end
    left: 0
    position: absolute
    padding-right: 10px
    top: 0
    z-index: 1

    @media(min-height: 700px)
      font-size: 16px

    &.minus
      background-color: #7e4640

    &.plus
      background-color: #487348

  &__value
    line-height: 1.15
    position: relative
    z-index: 3

    @media(min-height: 700px)
      font-size: 14px
